header{
    background-color: grey;

}
header h1{
    text-align: center;
    color: white;
}
#div{
    width: 1024px;
    margin: 0 auto;
}
#sec1{
    float: left;
    width: 66%;
}
#sec2{
    float: right;
    width: 33%;
}